<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <!--Formulari-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Introduir <strong>àmbit</strong></div>
        <div class="card-body">
          <form (submit)="editing ? editItem() : submitItem()">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-codi">Codi</label>
              <div class="col-md-9">
                <input
                  id="hf-codi"
                  name="hf-codi"
                  class="form-control"
                  placeholder="Entrar codi.."
                  [(ngModel)]="item.code"
                  autofocus
                />
                <span class="help-block">Si us plau, entreu el codi</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-nom">Nom</label>
              <div class="col-md-9">
                <input
                  id="hf-nom"
                  name="hf-nom"
                  class="form-control"
                  placeholder="Entrar nom.."
                  [(ngModel)]="item.name"
                />
                <span class="help-block">Si us plau, entreu el nom</span>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-success">
                <i class="fa fa-check"></i> Save
              </button>
              <button type="reset" class="btn btn-sm btn-danger">
                <i class="fa fa-ban"></i> Reset
              </button>
            </div>
          </form>
        </div>
      </div>
      <!--/.col-->
    </div>

    <!--Llista-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Àmbits
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th>Codi</th>
                <th>Nom</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items.ambits" onclick="">
                <td>{{ item.code }}</td>
                <td>{{ item.name }}</td>
                <td><button type="button" class="btn btn-sm btn-primary" [routerLink]="['/ambits/editar', item._id]">
                  <i class="fa fa-check"></i> Editar
                </button>
                <button type="button" class="btn btn-sm btn-danger" (click)= "deleteItem(item._id)">
                  <i class="fa fa-times"></i> Esborrar
                </button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--/.row-->
  </div>
</div>
