<!--Llista-->
<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Àmbits
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Codi</th>
            <th>Nom</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items.ambits" onclick="">
            <td>{{ item.code }}</td>
            <td>{{ item.name }}</td>
            <td><button type="button" class="btn btn-sm btn-primary" (click)= "editItem(item._id, item)">
              <i class="fa fa-check"></i> Editar
            </button>
            <button type="button" class="btn btn-sm btn-danger" (click)= "deleteItem(item._id)">
              <i class="fa fa-times"></i> Esborrar
            </button></td>
          </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
